#admin{
    background-color: rgba(0, 0, 0);
    display: flex;
    height: 100%;
    max-width: 100%px;
}

.sidebar{
    position: fixed;
    background-color: white;
    width: 81px;
    height: 100vh;
    display: flex inline;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar__logo{
    padding-top: 10px;
    padding-left: 5px;
    color: black;
    font-size: 20px;
}

.sidebar__logout{
    color: black;
    margin-bottom: 30px;
    cursor: pointer;
}

.admin__header {
    font-size: 50px;
    color: var(--primary-color);
    margin: 20px;
}

.admin__welcome{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 50px;
    color: white;
    
}

.admin__container{
    width: 100%;
    margin-left: 82px;
}

.admin__nav{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.admin__nav__links{
    display: flex;
    gap: 45px;
}

.admin__nav__link{
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.active__link{
    color: var(--primary-color);
}


.admin__nav__button{
    font-weight: 600;
    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 12px 12px;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: var(--text--color);
    outline: none;
    border: none;
    cursor: pointer;
}



.admin__movies, .admin__users, .admin__codes{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 15px;
    gap: 15px;
    width: fit-content;
}

.admin__movie, .admin__user{
    background-color: white;
    width: calc(50% - 15px);
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.admin__code{
    background-color: white;
    width: 320px;
    height: 180px;
    border-radius: 10px;
    position: relative;
}

.admin__movie__header , .admin__user__header, .admin__code__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.admin__movie__title, .admin__user__title, .admin__code__title{
    color: black;
}

.admin__movie__edit__button, .admin__user__edit__button{
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 12px 12px;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: var(--text--color);
    outline: none;
    border: none;
    cursor: pointer;
}

.admin__code__edit__button{
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: var(--text--color);
    outline: none;
    border: none;
    cursor: pointer;
}



.admin__movie__row, .admin__user__row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 24px;
}

.admin__code__row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 12px;
}

.admin__movie__info, .admin__user__info, .admin__code__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.admin__movie__trash, .admin__user__trash, .admin__code__trash{
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    color: var(--primary-color);
    bottom: 10px;
    right: 15px;
}

.admin__movie__form{
    background-color: white;
    width: 700px;
    margin-top: 15px;
    height: fit-content;
    overflow: hidden;
    color: black;
}

.admin__movies__container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin__add__movie__title{
    padding-top: 10px;
    text-align: center;
    color: black;
}

.admin__add__movie__form{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
}


.admin__add__movie__form__button{
    font-weight: 600;
    width: 180px;
    height: 40px;
    margin: 12px 12px;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: var(--text--color);
    outline: none;
    border: none;
    cursor: pointer;
}

.admin__add__movie__form__button__container{
    display: flex;
    justify-content: center;
}


